@media (max-width: 1024px) {
    .intro{
        padding: 25px;
    }
    .intro_whatistsmA {
        width: 100%;
    }
    
    .intro_whatistsm_picA {
        width: 25%;   
    }

    .intro_whatistsm_textA {
        width: 75%;
    }

    .tsm_textA {
        font-size: 20px;
        color: white;
        line-height: 27px;
        margin: 10px;
        padding: 20px;
    }

    .intro_whatistsmB {
        width: 100%;
        margin: auto; 
        margin-bottom: 30px;
    }
    
    .intro_whatistsm_picB {
        width: 25%;   
    }

    .intro_whatistsm_textB {
        width: 75%;
    }

    .tsm_textB {
        font-size: 20px;
        color: white;
        line-height: 27px;
        padding: 25px;
    }

    .intro_career{
        width:100%;
        padding:0;
    }

    .intro_careerA {
        width: 100%;
        background-image: url('img/TSM/TSMcontent03.jpg');
        margin-right: 10px;
    }

    .intro_careerB {
        width: 100%;
        background-image: url('img/TSM/TSMcontent04.jpg');
        margin-right: 10px;
    }

    .intro_careerC {
        width: 100%;
        background-image: url('img/TSM/TSMcontent05.jpg');
        margin-right: 10px;
    }

}

