.pubg_section{
    width: 100%;
    background-color: brown;
}
.pubg_section_banner{
    width: 100%;
    background-color: black; 
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 800px;
    background-attachment: fixed;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.pubg_section_playerarea{
    width: 100%;
    height: 100vh;
}
.pubg_section_player_pic{
    width: 100%;
    
    background-color: blue;
}
.pubg_section_player_intro{
    width: 100%;
    height: 600px;
    background-color: orangered;
}
.swiperpubg-container{
    width: 100%;
    height: 300px;
    background-attachment: fixed;
}
.swiperpubg-container .swiperpubgplayer {
    width: 100%;
    
}
.introPlayerArea
{
    width: 100%;
    
}