.R6_section {
    width: 100%;
    background-color: brown;
}
.R6_section_banner {
    width: 100%;
    background-color: black; 
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 800px;
    background-attachment: fixed;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.R6_section_playerarea {
    width: 100%;
    height: 100vh;
}
.R6_section_player_pic {
    width: 100%;
    background-color: blue;
}
.R6_section_player_intro {
    width: 100%;
    height: 600px;
    background-color: orangered;
}
.swiperR6-container{
    width: 100%;
    height: 300px;
    background-attachment: fixed;
}
.swiperR6-container .swiperR6player {
    width: 100%;
    height: 100%;
}
.introPlayerArea
{
    width: 100%;
    
}
